<div class="flex justify-center flex-col items-center h-screen" id="m/s">
    <button class="border w-1/4 h-1/12 mb-3" id="single">Sigleplayer</button>
    <button class="border w-1/4 h-1/12" id="multi">Multiplayer</button>
</div>

<div class="flex justify-center flex-col items-center h-screen hidden" id="e/h">
    <button class="border w-1/4 h-1/12 mb-3" id="easy">Easy 🤖</button>
    <button class="border w-1/4 h-1/12" id="hard">Hard 🔥</button>
</div>

<div class="flex justify-center flex-col items-center h-screen hidden" id="l/o">
    <button class="border w-1/4 h-1/12 mb-3" id="local">Local</button>
    <button class="border w-1/4 h-1/12" id="online">Online</button>
</div>