<div class="flex justify-center flex-col items-center h-screen" id="m/s">
    <button class="game-selection mb-3" id="single">Sigleplayer</button>
    <button class="game-selection" id="multi">Multiplayer</button>
</div>

<div class="flex justify-center flex-col items-center h-screen hidden" id="e/h">
    <button class="game-selection mb-3" id="easy">Easy 🤖</button>
    <button class="game-selection" id="hard">Hard 🔥</button>
    <div class="flex justify-end w-full h-20 mt-10"><button class="back-btn">Back</button></div>
</div>

<div class="flex justify-center flex-col items-center h-screen hidden" id="l/o">
    <button class="game-selection mb-3" id="local">Local 🖥️</button>
    <button class="game-selection" id="online">Online 🌐</button>
    <div class="flex justify-end w-full h-20 mt-10"><button class="back-btn">Back</button></div>
</div>