<%- include("./partials/head.ejs") %>

<body class=" bg-[url('/image/login.jpg')] bg-no-repeat bg-cover">
    <div class="flex flex-col items-center justify-center min-h-screen ">
        <div class="bg-white h-80 w-70 border border-amber-200 rounded-2xl ">
            <form id="LoginForm">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter your Username">
                <div id="usernameErr" class="text-red-600 mb-20"></div>
                <label for="password" class="mt-4">Password:</label>
                <input type="password" name="password" placeholder="Enter your password">
                <div id="passwordErr" class="text-red-600"></div>
            </form>
            <div  class="text-white flex justify-center w-full mt-2.5 text-[16px]"><a href="/signup"><b>create account </b></a> </div>
            <div class="flex justify-end mr-2.5 items-end h-min mt-3.5">
                
                <button form="LoginForm" class="border rounded-[5px] mb-1.5 hover:bg-blue-550 bg-blue-400
                hover:text-white delay-50 shadow-xs shadow-blue-500 w-20">
                    Login
                </button>

                
            </div>
        </div>
        </div>
    <script src="./logic/login.js"></script>
</body>

</html>